.button {
    margin: 10px;
    width: 60px;

    background: darkgreen;
    color: aquamarine;
    outline: none;
}
.buttton:focus {
    outline: aquamarine solid 1px;
}
.button:active{
    background: aquamarine;
}
.active{
    background: #003400;
}
.affair{
    display: flex;
}
.item{
    margin: 10px;
    width: 100px;
}
.high{
    color: red;
}
.middle{
    color: orange;
}

.low{
    color: greenyellow;
}